body {
	margin:0;
}

.cover-img{
	position: relative;
	width: 84px;
	height: 84px;
	overflow: hidden;
	border-radius: 10px;
	top: 0px;
	left: 120px;
}

#video-img-cover, #video-img-cover2{
	position: absolute;
	left: -26%;
	top: -38%;
	width: 150%;
	height: 150%;
}

.title-video{
	position: absolute;
	top: 55px;
	right: 121px;
	width: 175px;
	text-align: left;
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.4;
}

.cheer-btn {
	position: absolute;
	right: 94px;
	top: 70px;
}

.watch-view-count {
	color: #000000;
}
.wrapper {
	background-color:#ffffff;
	height: 100%;
	text-align: center;
	margin:0;
	width:550px;
	font-family: 'Poppins', sans-serif;
}
.start-1 {

}
.start-img {
	margin: 35px 0;
}
.nav {
	background: #ff6767;
	padding: 10px;
	text-align: left;
	vertical-align: top;
}
.logo-nav {
	
}
.cross-nav {
	vertical-align: top;
	margin-top: 13px;

}
.h1 {
	color: #ff6767;
	font-size: 20px;
	margin-bottom: 35px;
}
h2 {
	color: #ffffff;
	font-size: 14px;
	display: inline-block;
	margin:0 97px;
	line-height: 40px;
	vertical-align: top;
	
}
h3 {
	font-size: 60px;
	color: #ff6767;
	margin:30px 0 0 0;
}
h3 span {
	font-size: 16px;
	color: #a2a2a2;
}
p {
	color: #a2a2a2;
	font-size: 12px;
	margin-bottom: 35px;
	padding:0 30px;
}
.btn {
	padding :12px 45px;
	background: #ff6767;
	box-shadow: none;
	border-radius: 8px;
	color: #ffffff;
	border: none;
	text-decoration: none;
	font-size: 12px;
}
.bank-info {
	margin-bottom: 20px;
}
input {
	padding:10px;
	margin: 3px;
	border-radius: 8px;
	border: #d3d3d3 solid 2px;
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	width: 200px;
}
.checkbox {
	width: inherit;
}
textarea {
	border-radius: 8px;
	border: #d3d3d3 solid 2px;
	height:100px;
	width:300px;
	display: block;
	margin:auto;
	margin-bottom: 30px;
	padding:5px;
	resize: none;
	font-family: 'Poppins', sans-serif;
}
.comment-text {
	margin-bottom: 15px;
}
footer {
	color: #a2a2a2;
	font-size: 10px;
	text-decoration:underline;
	margin: 30px 0;
	text-align: center;
}
footer a {
	color: #a2a2a2 !important;
}
.skip {
	text-decoration: none;
	font-size: 10px;
	line-height: 5;
	color: #d8d8d8;
}
.video-detected {
	background: #f6f6f6;
	padding:25px 0;
	text-align: center;
}
.video-detected img {
	vertical-align: top;
	margin-left: 30px;
}
.video-detected a img {
	transition: all .2s ease-in-out;
}
.video-detected a img:hover {
	transform: scale(1.1);
}
.other-video {
	padding:25px 0;
	text-align: center;
}
.other-video img {
	margin-left: 30px;
}
.vid-title {
	text-align: left;
	color: #a2a2a2;
	margin: 0 0 20px 120px;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
}
.date {
	width: 85px;
}
.ccv {
	width: 85px;
}
.cheerprice {
	border:none;
	width: 75px;
	font-size: 50px;
	color:#ff6767;
	text-align: center;
	font-weight: bold;
}